## Backend
backend/unity-receiver
backend/.env
backend/node_modules
backend/jsreport/data
backend/jsreport/logs
backend/jsreport/monitoring
backend/jsreport/profiles
backend/jsreport/settings
backend/jsreport/fs*
backend/jsreport/storage

## Frontend
frontend/unity-external-assets
frontend/MU-VR-Experience/sysinfo.txt
frontend/MU-VR-Experience/.gradle
frontend/MU-VR-Experience/[Ll]ibrary/
frontend/MU-VR-Experience/[Tt]emp/
frontend/MU-VR-Experience/[Oo]bj/
frontend/MU-VR-Experience/[Bb]uild/
frontend/MU-VR-Experience/[Bb]uilds/
frontend/MU-VR-Experience/[Ll]ogs/
frontend/MU-VR-Experience/[Uu]ser[Ss]ettings/
frontend/MU-VR-Experience/[Mm]emoryCaptures/
frontend/MU-VR-Experience/[Aa]ssets/AssetStoreTools*
frontend/MU-VR-Experience/Assets/AssetStoreOriginals/_SNAPS_PrototypingAssets/About
frontend/MU-VR-Experience/Assets/AssetStoreOriginals/_SNAPS_PrototypingAssets/ModernOffice_Interior/Prefabs
frontend/MU-VR-Experience/Assets/AssetStoreOriginals/_SNAPS_PrototypingAssets/ModernOffice_Interior/SampleScenes
frontend/MU-VR-Experience/Assets/AssetStoreOriginals/_SNAPS_PrototypingAssets/ModernOffice_Interior/Materials/*
!frontend/MU-VR-Experience/Assets/AssetStoreOriginals/_SNAPS_PrototypingAssets/ModernOffice_Interior/Materials/custom*
frontend/MU-VR-Experience/Assets/AssetStoreOriginals/_SNAPS_PrototypingAssets/ModernOffice_Interior/Prefabs.meta
frontend/MU-VR-Experience/Assets/AssetStoreOriginals/_SNAPS_PrototypingAssets/ModernOffice_Interior/SampleScenes.meta
frontend/MU-VR-Experience/Assets/AssetStoreOriginals/_SNAPS_PrototypingAssets/SciFi_Industrial
frontend/MU-VR-Experience/Assets/AssetStoreOriginals/_SNAPS_PrototypingAssets/Scripts
frontend/MU-VR-Experience/Assets/AssetStoreOriginals/_SNAPS_Tools
frontend/MU-VR-Experience/Assets/AssetStoreOriginals/_SNAPS_Tools.meta
frontend/MU-VR-Experience/Assets/AssetStoreOriginals/_SNAPS_PrototypingAssets/About.meta
frontend/MU-VR-Experience/Assets/AssetStoreOriginals/_SNAPS_PrototypingAssets/SciFi_Industrial.meta
frontend/MU-VR-Experience/Assets/AssetStoreOriginals/_SNAPS_PrototypingAssets/Scripts.meta
frontend/MU-VR-Experience/[Aa]ssets/AssetStoreOriginals.meta
frontend/MU-VR-Experience/[Aa]ssets/SciFi Warehouse Kit
frontend/MU-VR-Experience/[Aa]ssets/SciFi Warehouse Kit.meta
frontend/MU-VR-Experience/[Aa]ssets/TextMesh Pro
frontend/MU-VR-Experience/[Aa]ssets/TextMesh Pro.meta
frontend/MU-VR-Experience/[Aa]ssets/Oculus
frontend/MU-VR-Experience/[Aa]ssets/Resources/[Oo]culus*
frontend/MU-VR-Experience/[Aa]ssets/Resources/OVR*
frontend/MU-VR-Experience/[Aa]ssets/Resources/ONSP*
frontend/MU-VR-Experience/[Aa]ssets/Oculus.meta
frontend/MU-VR-Experience/[Aa]ssets/ADG_Textures/walls_vol1/wall*
!frontend/MU-VR-Experience/[Aa]ssets/ADG_Textures/walls_vol1/wall07
frontend/MU-VR-Experience/[Aa]ssets/ADG_Textures/walls_vol1/wall*.meta
!frontend/MU-VR-Experience/[Aa]ssets/ADG_Textures/walls_vol1/wall07.meta
frontend/MU-VR-Experience/Assets/Resources/videos
frontend/MU-VR-Experience/Assets/Resources/videos.meta
frontend/MU-VR-Experience/Assets/NuGet
frontend/MU-VR-Experience/Assets/NuGet.meta
frontend/MU-VR-Experience/Assets/Packages/WebSocketSharp-netstandard.1.0.1
frontend/MU-VR-Experience/Assets/Packages/WebSocketSharp-netstandard.1.0.1.meta


## Other
.vscode
.gradle
.vs
._*
.idea