## Backend
backend/unity-receiver
backend/.env
backend/node_modules

## Frontend
frontend/unity-external-assets
frontend/MU-VR-Experience/sysinfo.txt
frontend/MU-VR-Experience/.gradle
frontend/MU-VR-Experience/[Ll]ibrary/
frontend/MU-VR-Experience/[Tt]emp/
frontend/MU-VR-Experience/[Oo]bj/
frontend/MU-VR-Experience/[Bb]uild/
frontend/MU-VR-Experience/[Bb]uilds/
frontend/MU-VR-Experience/[Ll]ogs/
frontend/MU-VR-Experience/[Uu]ser[Ss]ettings/
frontend/MU-VR-Experience/[Mm]emoryCaptures/
frontend/MU-VR-Experience/[Aa]ssets/AssetStoreTools*
frontend/MU-VR-Experience/[Aa]ssets/AssetStoreOriginals
frontend/MU-VR-Experience/[Aa]ssets/AssetStoreOriginals.meta
frontend/MU-VR-Experience/[Aa]ssets/SciFi Warehouse Kit
frontend/MU-VR-Experience/[Aa]ssets/SciFi Warehouse Kit.meta
frontend/MU-VR-Experience/[Aa]ssets/TextMesh Pro
frontend/MU-VR-Experience/[Aa]ssets/TextMesh Pro.meta
frontend/MU-VR-Experience/[Aa]ssets/Oculus
frontend/MU-VR-Experience/[Aa]ssets/Oculus.meta

## Other
.vscode
.gradle
.vs
._*